html {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightseagreen;
}

/*.blep {
	background-color: rgb(101, 201, 168);
	background-color: lightseagreen;
}*/

/*.description {
	border: 1px dashed;
	padding: 5px;
}*/

#listItem {
	list-style: none;
}

.App ul {
	padding: 0;
}

.photo {
	border-radius: 10px;
}

.photoDescription {
	margin: 0;
}

.subredditHeader {
	display: inline-block;
	border-bottom: 10px solid gold;
	max-width: 150px;
}

.subredditHeaderChar {
	display: inline-block;
	color: gold;
}




