html {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightseagreen;
}

/*.blep {
	background-color: rgb(101, 201, 168);
	background-color: lightseagreen;
}*/

/*.description {
	border: 1px dashed;
	padding: 5px;
}*/

#listItem {
	list-style: none;
}

.App ul {
	padding: 0;
}

.photo {
	border-radius: 10px;
}

.photoDescription {
	margin: 0;
}

.subredditButton {
	border-radius: 5px;
	background-color: #f0d264;
	display: inline-block;
	position: relative;
	border: 0;
  	padding: 8px 18px;
  	margin: 10px;  
  	font-size: 14px;
	text-align: center;
	color: black;
}

.subredditButton:focus {
	outline: none;
}

.subredditButton:active {
	background-color: #EDA400;
	outline: none;
}

.subredditHeader {
	display: inline-block;
	border-bottom: 10px solid gold;
	max-width: 150px;
}

.subredditHeaderChar {
	display: inline-block;
	color: gold;
}




