html {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(101, 201, 168);
}

.blep {
	background-color: rgb(101, 201, 168);
}

#listItem {
	list-style: none;
}

.App ul {
	padding: 0;
}

.photos {
	float: left;
	position: fixed;
}

.photoDescription {
	margin: 0;
}

.prompt {
	font-size: 10;
}

.subredditButton {
	display: inline-block;
	width: 45px;
}

.subredditHeader {
	display: inline-block;
	color: yellow;
}


